@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<ul class="navbar-nav ms-auto">
    
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> @User.Identity.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" asp-controller="Order" asp-action="MyOrders">
                        <i class="bi bi-box-seam"></i> Đơn hàng
                    </a>
                </li>               
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form asp-controller="Account" asp-action="Logout" method="post" style="margin:0;">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-right"></i> Đăng xuất
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary px-3 py-1 ms-2" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right me-1"></i> Đăng nhập
            </a>
        </li>
    }
</ul>
